body {
	height: 100vh;
	margin: 0;
	background: lightsteelblue;
	display: grid;
	place-items: center;
}

.dog {
	width: 60rem;
	height: 30rem;
	background: white;
	position: relative;
	border-radius: 50%;
}

.head {
	width: 5rem;
	height: 6.5rem;
	background: #0a0a0a;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.patch {
	width: 2.5rem;
	height: 3.3rem;
	background: #0a0a0a;
	border-bottom-right-radius: 20px;
}

.nose {
	width: 1.5rem;
	height: 1.5rem;
	background: #252525;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.eye {
	width: 1rem;
	height: 1.2rem;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 30%;
}

.eye::after {
	content: "";
	position: absolute;
	background: #0a0a0a;
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	right: 0.1rem;
	top: 0.2rem;
}

.eye-left {
	left: 20%;
}

.eye-right {
	right: 20%;
}

.eyebrow {
	width: 1rem;
	height: 0.5rem;
	background: #efd6ba;
	border-radius: 40%;
	position: absolute;
	top: 14%;
}

.eyebrow-left {
	left: 23%;

}

.eyebrow-right {
	right: 23%;


}

.tongue {
	height: 1.7rem;
	width: 1.7rem;
	background: pink;
	position: absolute;
	top: 100%;
	left: 50%;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.ear {
	width: 1.5rem;
	height: 3.5rem;
	background: #0a0a0a;
	position: absolute;
}

.ear-left {
	right: 100%;
}

.ear-right {
	left: 100%;
}

.body {
	width: 12rem;
	height: 14rem;
	background: #0a0a0a;
	position: absolute;
	left: 50%;
	top: calc(50% + 7.5rem);
	transform: translate(-50%, -50%);
	clip-path: polygon(29% 0, 71% 0, 100% 100%, 0% 100%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 1;
}

.leg {
	height: 10rem;
	width: 2.5rem;
	background: #af691a;
	position: absolute;
	bottom: 0;
}

.leg::after {
	content: "";
	position: absolute;
	background: #efd6ba;
	width: 3.2rem;
	height: 1.6rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.leg-left {
	left: 28%;
}

.leg-right {
	right: 28%;
}

.tail {
	width: 4rem;
	height: 1rem;
	background: #af691a;
	position: absolute;
	bottom: 0.7rem;
	left: calc(50% + 6.5rem);
	transform: translateX(-50%);
	clip-path: polygon(0 0, 100% 30%, 100% 50%, 0% 100%);
	animation: wag 1s linear infinite;
	transform-origin: left;
}

@keyframes wag {
	50% {
		transform: rotate(-10deg) translate(-1rem, -1rem);
	}
}
